.footer {
    text-align: center;
    padding: 10px 20px;
}

.footer-line {
    border: none;
    border-top: 1px solid #b9b9b9;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 60px;
}

.footer-content {
    color: white;
}

.footer-message {
    font-size: 18px;
    color: #b9b9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

.footer-icon-link {
    text-decoration: none;
    color: #45a29e;
}

.footer-icon {
    color: #45a29e;
    font-size: 20px;
    margin: 0 5px;
}

.footer-link {
    text-decoration: none;
    font-weight: bold;
    color: #45a29e;
}

.footer-link:hover {
    color: #66fcf1;
}

.footer-copyright {
    font-size: 14px;
    margin-top: 10px;
    color: #b9b9b9;
    text-align: left;
    padding-left: 150px;
    margin-bottom: 20px;
}
.footer-link-cv {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #b9b9b9;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 80px;
}
.footer-link-cv:hover {
    color: #45a29e;
}
