.header-main-div {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #1A222D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
    width: 100px;
    height: 50px;
    cursor: pointer;
}


.nav-list {
    display: flex;
    justify-content: end;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px;
    text-align: center;
}

.nav-item.active {
    color: white;
    border: 2px solid #45A29E;
    padding: 5px 15px;
    border-radius: 20px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #45A29E;
}
