body{
    background-color: #1A222D;
    font-family: "Merriweather", serif;
    height: 100vh;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1A222D; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: #45A29E;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#mouse-circle {
  position: fixed;
  width: 450px;
  height: 450px;
  background: radial-gradient(circle, rgba(25, 40, 50, 0.8) 0%, rgba(69, 162, 158, 0) 60%);
  border-radius: 50%;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  mix-blend-mode: lighten; 
  z-index: 9999;
  animation: none;


}
section {
  overflow: visible; /* Ensure mouse-circle is not clipped */
}

html, body {
  overflow: visible;
}
 
.header-main-div{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.header-logo{
    height: 50px;
    width: 100px;
    margin: 0px;
}

.nav-list {
    display: flex;
    justify-content: end;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 17px;
    color: #ffffff; 
    cursor: pointer;
    position: relative; 
    padding: 5px 15px;
    text-align: center;
}

.nav-item.active {
    color: white; 
    border: 2px solid #45A29E; 
    padding: 5px 15px;
    border-radius: 20px; 
}

.nav-link {
    text-decoration: none;
    color: #ffffff; 
    font-size: 17px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #45A29E; 
}

.title-main-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 250px ;
    padding-top: 150px ;
    padding-bottom: 20pxs;
    padding-right: 500px;
    margin: 0;
    margin-bottom: 90px;
}

.title-greeting{
    color: #45A29E;
    font-size: 20px;
    padding-bottom: 15px;
    margin: 0px;
}

.title-name{
    padding: 0px;
    margin: 0px;
    font-size: 70px;
    color: white;
    font-weight: 700;
}

.title-subheader{
    color: #DBDBDB;
    font-size: 55px;
    padding-top: 8px;
    margin: 0px;
}

.title-paragraph{
    color: #DBDBDB;
    width: 650px;
    margin: 0px;
    padding-top: 25px;
    line-height: 1.6;
    font-size: 20px;
    letter-spacing: 0.3px;
}

.title-button{
    font-size: 25px;
    padding: 10px 30px; 
    color: white; 
    border: 2px solid #45A29E; 
    background-color: transparent; 
    border-radius: 40px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px; 
}

.vertical-text {
    position: fixed;
    right: 5%; 
    top: 80%; 
    transform: translateY(-50%); 
    writing-mode: vertical-rl; 
    text-orientation: mixed; 
    font-size: 15px; 
    color: #DBDBDB;
    letter-spacing: 3px;
    text-align: center;
    z-index: 1000; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
}

.vertical-text::after {
    content: ""; 
    display: block;
    width: 1px; 
    height: 150px; 
    background-color: #DBDBDB;
    margin-left: 0px;
    margin-top: 30px;
}

.vertical-text:hover {
    color: #45A29E; 
}

.about-section {
    padding: 80px 0px;
    text-align: center;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    display: inline-block; 
    padding: 12px 20px; 
}

.section-title::before,
.section-title::after {
    content: "";
    position: absolute;
    top: 50%; 
    width: 300px; 
    height: 1px; 
    background-color: white; 
    transform: translateY(-50%); 
}

.section-title::before {
    left: -330px; 
}

.section-title::after {
    right: -330px;
}


#services {
  padding-top: 60px;
  scroll-margin-top: -100px; 
}


.about-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
    max-width: 1000px;
    margin: 40px auto;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.about-text {
    flex: 1;
    align-items: flex-start;
    color: #DBDBDB;
}

.about-text p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    padding-left: 30px;
}

.about-image {
    flex: 0.5;
    align-self: flex-start;
    
}

.about-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.technologies {
    display: flex; 
    justify-content: start; 
    gap: 150px; 
    max-width: 800px; 
    margin: 30px 50px; 
}

.technologies ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.technologies li {
    font-size: 18px; 
    line-height: 2; 
    color: white; 
    position: relative; 
}

.technologies li::before {
    content: '▹'; 
    position: absolute;
    left: -20px; 
    color: #45A29E; 
    font-size: 18px; 
}

.projects-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 10px auto;
    text-align: justify;
    padding-top: 0px;
    margin-top: 80px;
  }
  
  .project-card {
    background-color: #171B21;
    color: #B9B9B9;
    border-radius: 3px;
    padding: 20px;
    width: 360px;
    height: 350px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  
  .project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .project-card-title {
    font-size: 25px;
    font-weight: bold;
    color: #45A29E;
    margin-bottom: 10px;
  }
  
  .project-card-description {
    font-size: 16px;
    line-height: 1.5;
    flex: 1; 
    margin-bottom: 15px;
  }
  
  .project-card-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-bottom: 9px;
  }
  
  .project-card-technologies span {
    background-color: transparent;
    color: #B9B9B9;
    padding: 5px 2px;
    border-radius: 5px;
    font-size: 13px;
  }
  
  .services-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 40px;
    max-width: 7700px; 
    padding-top: 60px;
    
  }
  
  .service-card {
    background-color: transparent;
    color: #B9B9B9;
    border-radius: 25px;
    padding: 30px;
    border: 1px solid #ffffff;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 200px; 
    margin-top: 0px;
  }
  
  .github-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .github-icon img:hover {
    transform: scale(1.2); 
    filter: brightness(1.5);
  }
  
  .github-icon img:active {
    transform: scale(1); 
    filter: brightness(1); 
  }

  .service-card-title {
    font-size: 26px;
    font-weight: bold;
    color: #45A29E;
    margin-top: 7px;
  }
  
  .service-card-description {
    font-size: 16px;
    line-height: 1.8;
    padding-top: 5px;
  }
  
  .contact-main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
  }

  .contact-question{
    color: #45A29E; 
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .contact-get-in-touch{
    color: white;
    font-size: 70px;
    padding-top: 20px;
    margin: 0px;
  }

  .contact-paragraph{
    color: #B9B9B9;
    width: 700px;
    line-height: 1.8;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .contact-button{
    font-size: 25px;
    padding: 10px 30px; 
    color: white; 
    border: 2px solid #45A29E; 
    background-color: transparent; 
    border-radius: 40px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 30px; 
  }

  .footer {
    text-align: center;
    padding: 10px 20px;
  }
  
  .footer-line {
    border: none;
    border-top: 1px solid #B9B9B9;
    width: 80%; 
    margin-top: 100px;
    margin-bottom: 60px;
  }
  
  .footer-content {
    color: white;

  }
  
  .footer-message {
    font-size: 18px;
    color: #B9B9B9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 90px;
  }
  
  .footer-icon-link {
    text-decoration: none;
    color: #45A29E; 
  }
  
  .footer-icon {
    color: #45A29E; 
    font-size: 20px;
    margin: 0 5px;
  }
  
  .footer-link {
    text-decoration: none;
    font-weight: bold;
    color: #45A29E;
  }
  
  .footer-link:hover {
    color: #66FCF1;
  }
  
  .footer-copyright {
    font-size: 14px;
    margin-top: 10px;
    color: #B9B9B9;
    text-align: left; 
    padding-left: 150px; 
    margin-bottom: 20px;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: -10px;
}

  button {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  button:active {
    transform: scale(0.95);
  }
  .about-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  .about-image img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5); 
    }
    

